/* Iconos de redes sociales de la sección footer */ 

.social-media-icons {
  .social-media-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: $light;
    background-color: $social-icons;
    border-radius: 100%;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: none;
      background-color: $corporate;
    }
  }
}
  