/* Iconos de redes sociales de la sección footer */ 

.social-media-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  color: $light;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $links;
    text-decoration: none;
  }
}

.item-footer4 .social-media-icon:hover { border: none;}
  