/* Estilos del menú de navegación */ 

nav { 
  position: fixed; 
  top: 0; 
  z-index: 2;
  width: 100%;
  padding-top: 2px;
  padding-right: 20px; 
  font-family: $font-family-menu;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $corporate-nav-dark, $corporate-nav-light);
  border-bottom: 1px $light solid;
  
  ul { list-style-type: none; } 

  a { 
    color: $light; 
    text-decoration: none; 

    &:hover { 
      color: $primary;
      text-decoration: none;
      border-top: $links solid 1px;
      border-bottom: $links solid 1px;
    } 
  } 
}

.logo a:hover { 
  text-decoration: none; 
  border-top: none;
  border-bottom: none;
} 
.menu li { 
  padding: 0 5px; 
  font-size: 16px; 
  white-space: nowrap; 
} 
.logo a, 
.toggle a { 
  font-size: 30px; 

  &:hover {
    border-top: none;
    border-bottom: none;
  }
} 

/* Mobile menu */ 
.menu {
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-between; 
  margin-top: 0;
  margin-bottom: 1em;

  @media all and (min-width: 600px) { 
    justify-content: center; 
    margin-bottom: 1em;
  }
} 
.toggle { 
  order: 1; 
} 
.item.button { order: 2; } 

.item { 
  display: none; 
  order: 3; 
  width: 100%;
  text-align: center; 
} 
.item.active { display: block; }

/* Tablet menu */ 
@media all and (min-width: 600px) { 
  .logo { 
    flex: 1; 
  }

  .item.button { 
    display: block; 
    order: 1; 
    width: auto; 
  } 

  .toggle { 
    flex: 1; 
    order: 2; 
    text-align: right; 

    a:hover {
      border-top: none;
      border-bottom: none;
    }
  } 
}
/* Desktop menu */ 

@media all and (min-width: 900px) { 
  .menu { 
    margin-bottom: 0em;
  } 
  .item { 
    display: block; 
    order: 1;
    width: auto;
  } 

  .toggle { display: none; } 
  .logo { order: 0; } 
  .button { order: 2; } 
  .menu li { padding: 0 10px; } 
  .menu .button { padding-right: 0; } 
}