/* @mixins */

@mixin container-transparency($transparency) {
  color: $titles;
  background-color: $light;
  border-radius: $border-radius;
  opacity: $transparency;
}

/* @extends */

%margin-shared {
  margin-top: 0;
  margin-bottom: 1rem;
}
%padding-shared {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
}