@use "sass:color";

$font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-titles: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$corporate: #0b6c0e;
$corporate-dark: #197e05;
$corporate-light: #4ed434;
$titles: #343a40;
$titles-light: #6c757d;
$social-icons: #495057;
$light: #fff;
$items: #ffc107;
$base-color: rgba(255, 255, 255);

