@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Quicksand:wght@500&family=Titillium+Web:wght@600&display=swap");

$font-family: "Quicksand", sans-serif;
$font-family-titles: "Titillium Web", sans-serif;
$font-family-menu: "Open Sans", sans-serif;

$corporate: #0b6c0e;
$corporate-dark: #197e05;
$corporate-light: #4ed434;
$titles: #343a40;
$text-light: #565b5f;
$social-icons: #495057;
$light: #fff;
$items: #ffc107;
$base-color: rgba(255, 255, 255);

